@{
}

<!-- Main content -->
<section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="@ViewBag.User.FotoUrl" alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">@ViewBag.User.UserName</h3>

                        <p class="text-muted text-center">@ViewBag.User.NickName</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Cargo</b> <a class="float-right">Biólogo Marinho</a>
                            </li>
                            <li class="list-group-item">
                                <b>Permissão de Atualizar Dados</b> <a class="float-right">Sim</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Atividades Recentes</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Enviar Atualização</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Editar Conta</a></li>
                        </ul>
                    </div>
                    <!-- /.card-header -->
                    
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <!-- Post -->
                                <div class="post">
                                    @foreach (var i in ViewBag.getAtualizacao)
                                    {
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm" src="@ViewBag.User.FotoUrl" alt="user image">
                                            <span class="username">
                                                <a href="#">@ViewBag.User.UserName.</a>
                                            </span>

                                        </div>

                                        <!-- /.user-block -->
                                        <p>
                                            <b>Atualização feita em @i.DataAtualizacao </b>
                                        </p>
                                        <p>
                                            <b>Cidade:</b> @i.Cidade
                                        </p>
                                        <p>
                                            <b>Porto:</b> @i.Porto
                                        </p>
                                        <p>
                                            <b>pH:</b> @i.pH
                                        </p>
                                        <p>
                                            <b>Oxigênio Dissolvido (mg/L):</b> @i.OxigenioDissolvido
                                        </p>
                                        <p>
                                            <b>Nitrato (mg/L):</b>  @i.Nitrato
                                        </p>
                                        <p>
                                            <b>Fosfato (mg/L):</b> @i.Fosfato
                                        </p>
                                        <p>
                                            <b>Microplásticos (partículas/L):</b> @i.Microplasticos
                                        </p>
                                        <p>
                                            <b>Salinidade (ppt):</b> @i.Salinidade
                                        </p>
                                        
                                    }

                                </div>
                                <!-- /.post -->
                            
                                
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="timeline">
                                <!-- Formulário de Enviar Atualização -->
                                <form class="form-horizontal" asp-controller="Atualizacao" asp-action="EnviarAtualizacao">
                                    <div class="form-group row">
                                        <label for="cidade" class="col-sm-2 col-form-label">Cidade</label>
                                        <div class="col-sm-10">
                                            <input name="Cidade" type="text" class="form-control" id="cidade" placeholder="Cidade">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="porto" class="col-sm-2 col-form-label">Porto</label>
                                        <div class="col-sm-10">
                                            <input name="Porto" type="text" class="form-control" id="porto" placeholder="Porto">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ph" class="col-sm-2 col-form-label">pH</label>
                                        <div class="col-sm-10">
                                            <input name="pH" type="text" class="form-control" id="ph" placeholder="pH">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="oxigenioDissolvido" class="col-sm-2 col-form-label">Oxigênio Dissolvido</label>
                                        <div class="col-sm-10">
                                            <input name="OxigenioDissolvido" type="text" class="form-control" id="oxigenioDissolvido" placeholder="Oxigênio Dissolvido">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="nitrato" class="col-sm-2 col-form-label">Nitrato</label>
                                        <div class="col-sm-10">
                                            <input name="Nitrato" type="text" class="form-control" id="nitrato" placeholder="Nitrato">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fosfato" class="col-sm-2 col-form-label">Fosfato</label>
                                        <div class="col-sm-10">
                                            <input name="Fosfato" type="text" class="form-control" id="fosfato" placeholder="Fosfato">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="microplasticos" class="col-sm-2 col-form-label">Microplásticos</label>
                                        <div class="col-sm-10">
                                            <input name="Microplasticos" type="text" class="form-control" id="microplasticos" placeholder="Microplásticos">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="salinidade" class="col-sm-2 col-form-label">Salinidade</label>
                                        <div class="col-sm-10">
                                            <input name="Salinidade" type="text" class="form-control" id="salinidade" placeholder="Salinidade">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Enviar Atualização</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="settings">
                                <form class="form-horizontal" asp-controller="User" asp-action="EditarPerfil">
                                    <input name="id" type="number" value="@ViewBag.User.Id" hidden />
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Nome</label>
                                        <div class="col-sm-10">
                                            <input name="UserName" type="text" class="form-control" id="inputName" value="@ViewBag.User.UserName">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">E-mail</label>
                                        <div class="col-sm-10">
                                            <input name="UserEmail" type="email" class="form-control" id="inputEmail" value="@ViewBag.User.UserEmail">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName2" class="col-sm-2 col-form-label">Organização</label>
                                        <div class="col-sm-10">
                                            <input name="NickName" type="text" class="form-control" id="inputName2" value="@ViewBag.User.NickName">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputSkills" class="col-sm-2 col-form-label">Foto de Perfil</label>
                                        <div class="col-sm-10">
                                            <input name="FotoUrl" type="text" class="form-control" id="inputSkills" placeholder="Coloque uma URL para atualizar sua imagem">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-danger">Atualizar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
